[
  {
    "APP": "",
    "APP_ID": "",
    "APP_KEY": "",
    "DB_CONNECT": {
      "driver": "",
      "host": "",
      "port": "",
      "database": "",
      "username": "",
      "password": ""
    },
    "TASK_TABLE": "",
    "TABLES": [
      {
        "table_id": "",
        // Если используется индексирование через таблицу задания, установить параметр равным true.
        "from_task": false,
        "queries": {
            "select": "SELECT [table_id], [field_id], [field_lang], [field_active], title:{{[field_title:{[function]}]}}, content:{{[field_text:{[function]}]}}, optional:{{[field_optional:{[function]}]}} FROM [table_name]"
        }
        "field_timestamp": "",

        "field_active": "",
        "active_value": "",

        "table_name": "",
        "field_id": "",
        "field_lang": "",
        "field_update": "",

        "fields_title": [
          ""
        ],
        "fields_content": [
          ""
        ],

        // Если используется индексирование через таблицу задания, то дополнительные поля могут быть получены как из таблицы задания,
        // так и из индексируемой таблицы. Для определенности следует вносить поля с указанием таблицы через точку (как в запросах SQL).
        "fields_optional": [
          ""
        ]
      }
    ],
    "LANGUAGES": [
      {
        "1": "ru",
        "2": "en"
      }
    ],
    "INDEX_EVERY_DAY": ""
  }
]